        <div id="devhire-chat">
            <div id="chat-window" class="pb-2">
                <h1 class="text-center p-3" id="chat-title" style="background: rgb(255,255,255);">DevHire-Chat</h1>
                <div id="output"></div>
            </div>
            <input id="handle" type="text" placeholder="Handle"/>
            <input id="message" type="message" placeholder="Message"/>
            <button id="chat-send" class="btn btn-info">Send</button>
        </div>