<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">DevHire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  pr-5" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item mr-5 m-1">
                <a class=" btn btn-primary btn-lg bg-primary p-2" href="/clientProfile">Profile</a>
            </li>
            <li class="nav-item m-1">
                <a class=" btn btn-primary btn-lg bg-primary" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="main">

    <section class="signup">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form method="POST" class="signup-form">
                    <h2 class="form-title text-center">Personal Info</h2>
                    <hr>
                    <div class="form-group row">
                        <label for="fullName" class="col-sm-2 col-form-label">Name:<span
                                class="required">*</span></label>
                        <div class="col">
                            <input type="text" class="form-control" id="clientFname" placeholder="First Name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="clientLname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col">
                            <input type="text" class="form-control" id="clientEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact" class="col-sm-2 col-form-label">Contact:<span
                                class="required">*</span></label>
                        <div class="col">
                            <input type="input" class="form-control" id="clientContact" placeholder="Contact No">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="company" class="col-sm-2 col-form-label">Company</label>
                        <div class="col">
                            <input type="text" class="form-control" id="clientCompany" placeholder="Optional">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col">
                            <textarea class="form-control" id="clientDesc" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="clientSave">Save</button>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </section>

</div>