<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">DevHire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  pr-5" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-5 m-1">
          <a class=" btn btn-primary btn-lg bg-primary p-2" href="/viewProfile">View Profile</a>
        </li>
        <li class="nav-item mr-5 m-1">
          <a class=" btn btn-primary btn-lg bg-primary p-2" href="/chat" target="_blank">Chat With Client</a>
        </li>
        <li class="nav-item m-1">
          <a class=" btn btn-primary btn-lg bg-primary" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container projectaccordianContainer mb-5 mt-4">

    <div class="containerTitle font-weight-bold text-center">
        <h3>Manage Projects</h3>
    </div>
    <div class="newAccord">
        <div class="newTableTitle ">
            <h4>New Project Offers</h4>
        </div>
        <div id="accordion2"></div>
    </div>
    <br><br>
    <div class="ongoingAccord">
        <div class="ongoingTableTitle">
            <h4>Ongoing Projects</h4>
        </div>
        <div id="accordion1"></div>
    </div>
    <br>
    <br>
    <div class="completedAccord">
        <div class="completedTableTitle">
            <h4>Completed Projects</h4>
        </div>
        <div id="accordion3"></div>
    </div>
    <!-- <div class="row text-center">
      <div class="col-md-12 col-md-3 ml-md-auto containerTitle">
        <h2 class="mb-1">Manage your Projects!</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 ml-md-auto newTableTitle">
        <h3 class="mb-2">New Project Offers</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 col-md-3 ml-md-auto">
        <div id="accordion2">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 ongoingTableTitle ml-md-auto">
        <h3 class="mb-2">Ongoing Projects</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 col-md-3 ml-md-auto">
        <div id="accordion1">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12 completedTableTitle  ml-md-auto">
        <h3 class="mb-2">Completed Projects</h3>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12 col-md-3 ml-md-auto">
        <div id="accordion3">
        </div>
      </div>
    </div> -->
</div>