<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">DevHire</a>
</nav>

<div class="container text-center" style="margin-top: 80px;">
    <h2 class="mt-4">Hire expert and junior developers for any job, online, from around the globe</h4>
        <a class="btn btn-primary btn-lg mt-4 styleBTN" href="/signup" role="button">Sign Up</a>
        <a class="btn btn-primary btn-lg mt-4 styleBTN" href="/login" role="button">Log In</a>
</div>