<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/">DevHire</a>
</nav>

<div class="container loginFormContainer">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <div class="loginFormTitle">
                <h2>Login Form</h2>
                <hr>
            </div>

            <form class="login">

                <div class="form-group loginInput">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>

                <div class="form-group loginInput">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>

                <div style="display: none" id="alertLogin" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msgAlert"></span>
                </div>

                <button type="submit" class="btn btn-default styleBTN">Login</button>

            </form>
            <br />
            <p>Or sign up <a href="/signup">here</a></p>
        </div>
    </div>
</div>