<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">DevHire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  pr-5" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item mr-5 m-1">
                <a class=" btn btn-primary btn-lg bg-primary p-2" href="/view-update-developer">Edit Profile</a>
            </li>
            <li class="nav-item mr-5 m-1">
                <a class="btn btn-primary btn-lg bg-primary" href="/developerProfile">Projects</a>
            </li>
            <li class="nav-item m-1">
                <a class=" btn btn-primary btn-lg bg-primary" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mainContainer p-0">
    <div class="jumbotron m-5  p-3">
        <div class="container personal">
            <div class="row ">
                <div class="col-12 p-2">
                    <h3 class="display-5 font-weight-normal mb-2">Personal Info:</h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron m-5  p-2 ">
        <div class="container professional">
            <div class="row">
                <div class="col-12">
                    <h3 class="display-5 font-weight-normal mb-2">Professional Info:</h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>