html,
body {
  height: 100%;
}

.container {
  margin-top: 5%;
}

form.signup,
form.login {
  margin-top: 10px;
}

.navbar {
  background-color: #072443;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  margin-left: 10%;
  font-family: 'Monoton', cursive;
}

.navbar a {
  margin-right: 10%;
}

.btn {
  background-color: #ff5500;
  border: none;
  margin-right: 3%;
  font-family: 'Raleway', cursive;
}

h2 {
  font-family: 'Alfa Slab One', cursive;
  margin-bottom: 5%;
}

a {
  color: #ff5500;
}
#add-btn {
  background-color:#8c8c8c;
  color: black;
}
.skill-btn{
  background-color:#8c8c8c;
}